# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
src/pages/payment/internals/data/gridData.tsx
src/pages/register/README.md
src/pages/shared-theme/customizations/navigation.tsx
src/pages/students/Title.tsx.preview
src/pages/shared-theme/customizations/inputs.tsx
src/pages/shared-theme/customizations/feedback.tsx
src/pages/sign-in/README.md
src/pages/shared-theme/customizations/dataDisplay.tsx
src/pages/register/Title.tsx.preview
src/pages/subjects/Title.tsx.preview
src/pages/students/README.md
src/pages/subjects/internals/data/gridData.tsx
src/pages/payment/README.md
src/pages/shared-theme/customizations/surfaces.ts
src/pages/subjects/README.md
src/pages/students/internals/data/gridData.tsx
src/pages/payment/Title.tsx.preview
src/pages/users/Title.tsx.preview
src/pages/dashboard/Title.tsx.preview
src/pages/users/README.md
src/pages/users/internals/data/gridData.tsx
src/pages/dashboard/internals/data/gridData.tsx
src/pages/dashboard/README.md
src/pages/student-portal/README.md
src/pages/teacher-portal/README.md
src/pages/student-portal/internals/data/gridData.tsx
src/pages/student-portal/Title.tsx.preview
src/pages/teacher-portal/Title.tsx.preview
src/pages/teacher-portal/internals/data/gridData.tsx
